/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "font-awesome-sprockets";
 @import "font-awesome";
 @import "bootstrap/scss/bootstrap";
//  @import "./lines";
 @import "./lines.scss";

 @font-face {
    font-family: 'Pangolin-Regular';
    src: url("/assets/Pangolin-Regular.ttf");
    font-family: 'Manjari-Bold';
    src: url('../fonts/Manjari-Bold.ttf');
    font-family: 'Manjari-Regular';
    src: url('../fonts/Manjari-Regular.ttf');
    font-family: 'Manjari-Thin';
    src: url('../fonts/Manjari-Thin.ttf');
 }

 aside {
     background: rgb(33, 51, 70);
     color: white;
     min-height: 100vh;
     font-family: Pangolin-Regular;

     .lkn {
        transition: background-color 0.3s ease;

        &:hover {
            background-color: rgb(81, 166, 231);
            
        }
     }

     img {
         width: 50px;
         height: 50px;
     }
 }

 .page {
    font-family: Pangolin-Regular;
    font-size: 14px;
    font-weight: 500;
    min-height: 100vh;
    .navb {
        background: rgb(81, 166, 231);
    }
 }

