// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

@font-face {
    font-family: 'Pangolin';
    src: url("/assets/Pangolin-Regular.ttf");
}

.container-fluid{
    min-height: 100vh;

    font-family: Pangolin;

    header {
        background: rgb(33, 51, 70);
        color: whitesmoke;
        p{
            font-size: 24px;
            font-weight: 600;
        }
    }

    .intro {
        min-height: 60vh;    
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
}
}


